body {
	margin: 0px;
	background: #f7f7f7;
	padding: 0px;
	font-family:Tahoma;
	background:#eeeeee;
	font-size-adjust:none;
	font-stretch:normal;
	font-size:8.5px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
	
}
::-webkit-input-placeholder {
   color:#333;
}
:-moz-placeholder { /* Firefox 18- */
   color:#333;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color:#333;  
}
:-ms-input-placeholder {  
   color:#333;  
}

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, fieldset, input, th, td {
	border: 0;
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
.cl {
	clear: both;
}
p {
	font-size:12px;
	color: #4c4c4c;
	
	line-height:23px;
	text-align:justify;
}
h1 {
	font-size: 15px;
	color: #fff;
	font-weight: normal;
}
h2 {
	font-size: 14px;
	color: #333;
	line-height: 30px; 
	font-weight:700;
	border-bottom:1px dotted #203f5f;
	margin-bottom:10px;
}


h4 {
	font-size: 13px;
	color: #fff;
	font-weight: normal;
	border-bottom:1px dotted #a9a8a8;
	line-height:42px;
	margin-bottom: 5px;
}
h5 {
	font-size: 12px;
	color: #089d43;
	font-weight: normal;
	background:#f4f4f4;
	border-bottom: solid 1px #d7d6d6;
	line-height: 30px;
	margin-bottom: 5px; 
	padding-left:7px;
}
.read {
	width: auto;
	height: auto;
	display: block;
	float: right;
	padding: 5px 0 5px 0;
}
.read a {
	font-size: 12px;
	color: #FF0000 !important;
	text-align: right;
	text-decoration: none;
}
.read a:hover {
	text-decoration: underline;
}
.vote_div {
	width: auto;
	height: 19px;
	display: block;
	padding: 5px 5px 2px 0;
}
.vote_icon {
	width: 21px;
	height: 17px;
	float: right;
	background: url(../images/vote-icon.png) top right no-repeat;
}

.vote_icon2 {
	width: 29px;
	height: 17px;
	float: right;
	background: url(../images/vote-icon.png) -45px top no-repeat;
	color:#000;
	font-size:12px;
	text-decoration:none; 
}

.vote_icon3 {
	width: 21px;
	height: 17px;
	float: right;
	background: url(../images/vote-icon.png) left top no-repeat;
	color:#989898;
	font-size:11px;
	text-decoration:none; 
	padding:2px 0 0 20px;
}

.head_wrapper{ width:100%; height:auto; display:block; background:url(../images/header_bg.jpg) left center; border-top:4px solid #f3c301; border-bottom:1px solid #eaefeb;}
.nav_wrapper{ width:100%; height:auto; display:block; background:#000; margin-bottom:10px;}

.head_wrapper2{ width:100%; background:#5c5c5c; height:auto; display:block; border-top:4px solid #f3c301;}
.head_wrapper_pro{ width:100%; background:#333; height:auto; display:block; margin-bottom:10px;}

.wrapper {
	width: 970px;
	height: auto;
	display: block;
	margin: 0 auto;
	background: #fff;
	padding: 10px; padding-top:0px;
	-moz-box-shadow: 0 -1px 8px -2px #767676;
	-webkit-box-shadow: 0 -1px 8px -2px #767676;
	box-shadow: 0 -1px 8px -2px #767676;

}
.header_row {
	width: 970px;
	height: auto; margin:0 auto; padding-bottom:5px; border-bottom:1px solid #a6c0d5; margin-bottom:10px;
}
.header_left {
	width: 279px;
	height: auto;
	float: left;
}
.header_right {
	width: 690px;
	height: auto;
	float: right;
}
.header_right_row {
	width: auto;
	height: auto;
	display: block;
	margin: 0 0 22px 0;
}
.lingd{ width:23px; height:23px; background:url(../images/socle_icon.png) right top; float:right;
        -webkit-transition: all .3s ease-out 0s;
	    -moz-transition: all .3s ease-out 0s;
	    -ms-transition: all .3s ease-out 0s;
	    -o-transition: all .3s ease-out 0s;
	       transition: all .3s ease-out 0s;
}
.lingd:hover{ width:23px; height:23px; background:url(../images/socle_icon.png) right -27px;}

.twit{ width:23px; height:23px; background:url(../images/socle_icon.png) -27px top; float:right;
       -webkit-transition: all .3s ease-out 0s;
	   -moz-transition: all .3s ease-out 0s;
	   -ms-transition: all .3s ease-out 0s;
	   -o-transition: all .3s ease-out 0s;
	      transition: all .3s ease-out 0s;
}
.twit:hover{ width:23px; height:23px; background:url(../images/socle_icon.png) -27px -27px;}

.fb{ width:23px; height:23px; background:url(../images/socle_icon.png) -5px -2px; float:right;
     -webkit-transition: all .3s ease-out 0s;
	 -moz-transition: all .3s ease-out 0s;
	 -ms-transition: all .3s ease-out 0s;
	 -o-transition: all .3s ease-out 0s;
	  transition: all .3s ease-out 0s;
}
.fb:hover{ width:23px; height:23px; background:url(../images/socle_icon.png) -4px -27px;}

.cont_wth_us{ width:245px; height:23px; float:right; background:#203f5f; color:#fff; border-radius: 0 0 0 5px; padding:0 0 0 10px; 
margin-bottom:15px;}

.cont_wth_us a{ color:#fff; font-size:12px; line-height:23px; text-decoration:none; padding:0 5px 0 5px !important;}

.user {
	width: 131px;
	height: 23px;
	border: solid 1px #ce4c00;
	float: left;
	color:#354c30;
	font-size:12px;
	padding: 0 5px 0 07px;
	margin-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	background:#ffd7bf;
}
.passwerd {
	width: 131px;
	height: 23px;
	border: solid 1px #ce4c00;
	float: left;
	color:#354c30;
	font-size:12px;
	padding: 0 5px 0 7px;
	margin-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	background:#ffd7bf;
}
.logd {
	width: 42px;
	height: 23px;
	float: right;
	display: block;
	background:#ff7422;
	border: solid 1px #ce4c00;
/*	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;*/
	border-radius: 3px;
	padding:0 0 0 10px;
	    	color:#fff;
		line-height:23px;
		font-size:11px;
		text-decoration:none;
}

.logd:hover {
background:#f3c301;
color:#000;
}

/*.logd a{
    	color:#fff;
		line-height:23px;
		font-size:11px;
		text-decoration:none;
}

.logd a:hover{ color:#f3c301;}*/

.user_text_main {
	width: auto;
	height:auto;
	display: block;
}
.user_text {
	width: 135px;
	height: auto;
	float: left;
	display: block;
}
.user_text_chek {
	width: 15px;
	height: auto;
	float: left;
	display: block;
	padding-top: 1px;
}
.user_text a {
	font-size:10px;
	color: #fff;
	text-decoration: none;
	font-family:Tahoma;
	text-transform:uppercase;
}
.user_text a:hover {
	color:#fff;
	text-decoration:underline;
}
.nav_main {
	width: 1040px;
	height:35px;
	margin: auto;
	padding: 0px 0px 0px 0px;
}
.nav_home{ width:auto; height:28px; padding:7px 3px 0 0px !important;}
.nav {
	width: 770px;
	height: 30px;
	float: left;
}
.search_min {
	width: 352px;
	height: 26px;
	background: #fff;
	float: right;
	margin: 4px 0 0 0;
}
.search_left {
	width: 311px;
	height: 26px;
	float: left;
	background: none;
	padding: 0 0 0 5px;
	color: #333;
	font: 12px;
	outline:none;
}
.search_right {
	width: 21px;
	height: 21px;
	float: right;
	background: url(../images/sear_btn.png) left top no-repeat;
	margin: 4px 7px 0 0;
}
.search_right:hover {
	width: 21px;
	height: 21px;
	float: right;
	background: url(../images/sear_btn.png) left -21px no-repeat;
}
.addwer {
	width: 1014;
	height: 87px;
	border: #cacaca solid 1px;
	background: #fff;
	padding: 2px;
	margin: 10px 0 10px 0;
}
.latest_new_div{ width:1020px; height:auto; display:block; background:#d3b31d; margin-bottom:10px;}

.body_row {
	width: 970px;
	height: auto;
	display: block;
}

.bdy_lft_culm{ width:700px; height:285px; float:left;}
.bdy_rght_culm{ width:260px; height:auto; float:right; margin:0 0 0 10px;}

.left_main {
	width: 190px;
	display: block;
	height: auto;
	float: left;
	margin-right: 10px;
}
.center_main {
	width: 585px;
	display: block;
	height: auto;
	float: left;
}
.right_main {
	width: 200px;
	display: block;
	height: auto;
	float: right;
	margin-left: 10px;
}
.head_row {
	width: auto;
	height: auto;
	background: #333;
	display: block;
	padding: 10px 15px 10px 15px;
}
.left_menu {
	width: 145px;
	height: auto;
	display: block;
	background: #fff;
	margin-bottom: 10px;
	margin-right:10px; 
	float:left;
}
.box_scpt {
	width: 606px;
	height:auto;
	display: block; 
	float:right;
	margin-bottom: 10px;
	position:relative;
}
.ban-appslut-img{
	width:604px;
	height:234px;
	position:absolute;
	background:url(../../images/ban-appslut-img.png) left top no-repeat;
	left: 1px;
	top: 1px;
}
.b_under_row {
	width: 585px;
	height: auto;
	display: block;
}

.sarve_main_culm { width:247px; height:auto; margin-right:10px; float:left;}
.box_addwer {
	width: 245px;
	height: auto;
	display: block;
	border: solid 1px #dedede;
	margin-bottom: 10px;
}

.serve_box {
	width: 247px;
	height: auto;
	margin: 0 0 10px 0;
	padding-bottom:5px;
	
/*	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px; 
*/	
}
.serve_box p{
    font-size:11px;
	color: #686669;
	line-height:18px;
}

.bor_blue{width: 235px; border:2px solid #1ea7ee; padding:4px;}
.bor_black{width: 235px; border:2px solid #000; padding:4px;}
.bor_red{width: 235px; border:2px solid #ee202c; padding:4px;}
.bor_green{width: 235px; border:2px solid #5bff2c; padding:4px;}
.bor_orange{width: 235px; border:2px solid #fa6a2b; padding:4px;}
.bor_grey{width: 235px; border:2px solid #bdbabb; padding:4px;}

.blue_head{ color:#fff; display:block; font-size:11px; font-weight:bold; background:#1ea7ee; border-left:6px solid #fff; padding:6px 3px 6px 3px; border-right:6px solid #fff; margin-bottom:0; border-bottom:0;}
.black_head{ color:#000; display:block; font-size:11px; font-weight:bold; background:#000; border-left:6px solid #fff; padding:6px 3px 6px 3px; border-right:6px solid #fff; margin-bottom:0; border-bottom:0;}
.red_head{ color:#fff; display:block; font-size:11px; font-weight:bold; background:#ee202c; border-left:6px solid #fff; padding:6px 3px 6px 3px; border-right:6px solid #fff; margin-bottom:0; border-bottom:0;}
.green_head{ color:#4f4f4f; display:block; font-size:11px; font-weight:bold; background:#5bff2c; border-left:6px solid #fff; padding:6px 3px 6px 3px; border-right:6px solid #fff; margin-bottom:0; border-bottom:0;}
.orange_head{ color:#fff; display:block; font-size:11px; font-weight:bold; background:#fa6a2b; border-left:6px solid #fff; padding:6px 3px 6px 3px; border-right:6px solid #fff; margin-bottom:0; border-bottom:0;}
.grey_head{ color:#fff; display:block; font-size:11px; font-weight:bold; background:#bdbabb; border-left:6px solid #fff; padding:6px 3px 6px 3px; border-right:6px solid #fff; margin-bottom:0; border-bottom:0;}


.sb_bdr {
	width: auto;
	height: auto;
	border-bottom: solid 1px #e5f3f9;
	font-size:11.5px;
	color: #414141;
	padding: 5px 0 5px 0px;
}

.resent_div {
	width: 235px;
	height: auto;
	border-bottom: solid 1px #d7d6d6;
	padding: 5px 0 5px 0px;
	margin-bottom:5px;
}
.resnt_text{ width:180px; height:auto; float:left;
    font-size:10.5px;
	color: #666; margin:0 5px 0 0; }
.resnt_time{ width:40px; height:auto; float:right;  background:#53a93f;
     padding:5px 5px 5px 5px;
	 color:#fff;
     font-size:10px;
   	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px; 

}

.ragtr_form {
	width: 247px;
	height: auto;
	display: block;
	margin-bottom: 20px;
}
.landingpagewrap {
	width: 1000px;
	margin: 0 auto;
	min-height: 800px
}
.landingpage #slides {
	height: 300px;
	width: 580px;
	padding-top: 25px;
	float: left
}
.landingpage .slides_container {
	height: 210px;
	overflow: hidden;
	position: relative
}
.landingpage .slides_container div.slide {
	display: block;
	width: 580px;
	height: 210px;
	overflow: hidden
}
.landingpage .slides_container h1 {
	margin: 0 0 10px 0;
	color: #d5e7f0;
	font-size: 50px;
	font-weight: bold;
	padding: 0
}
.landingpage .slides_container h3 {
	color: #d5e7f0;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 10px
}
.landingpage ul.pagination {
	margin: 0;
	width: 580px;
	position: relative;
	bottom: 0;
	z-index: 100
}
.landingpage .pagination li {
	float: left;
	margin: 0 50px 0 0;
	list-style: none;
	width: 107px;
	height: 137px
}
.landingpage .pagination li.spark {
	background: url("../images/landingsprite.png") 1px -139px no-repeat
}
.landingpage .pagination li.spark:hover {
	background: url("../images/landingsprite.png") 1px -281px no-repeat
}
.landingpage .pagination li.spark.current {
	background: url("../images/landingsprite.png") 0 0 no-repeat
}
.landingpage .pagination li.express {
	background: url("../images/landingsprite.png") -110px -133px no-repeat
}
.landingpage .pagination li.express:hover {
	background: url("../images/landingsprite.png") -110px -275px no-repeat
}
.landingpage .pagination li.express.current {
	background: url("../images/landingsprite.png") -110px 0 no-repeat
}
.landingpage .pagination li.give {
	background: url("../images/landingsprite.png") -210px -127px no-repeat
}
.landingpage .pagination li.give:hover {
	background: url("../images/landingsprite.png") -209px -276px no-repeat;
	color: #bedae8
}
.landingpage .pagination li.give.current {
	background: url("../images/landingsprite.png") -208px 7px no-repeat
}
.landingpage .pagination li a, .landingpage .pagination li h2 {
	display: block;
	text-indent: 0;
	float: none;
	width: 107px;
	height: 85px;
	color: #293d44;
	font-size: 14px;
	font-weight: bold;
	background: none!important;
	vertical-align: bottom;
	text-align: center;
	padding-top: 50px;
	cursor: pointer
}
.landingpage .pagination li a:hover, .landingpage .pagination li h2:hover {
	color: #bedae8
}
.landingpage .pagination li.current a, .landingpage .pagination li.current h2 {
	color: #fff!important
}
.signbox .doubleinput {
	clear: both;
	height: 40px
}
.signbox .doubleinput div {
	/*background: #fff;*/
	width:112px;
	float: left;
	margin-top: 3px
}
.signbox .doubleinput div.firstsep {
	margin-right: 2px
}
.signbox .doubleinput.username_password {
	padding-top: 10px
}
.signbox .doubleinput div.pass {
	position: relative
}
.signbox .doubleinput div.pass .showPassWrapper {
	position: absolute;
	top: 25px;
	left: 0
}
.signbox .doubleinput div.pass .showPassWrapper label {
	display: block;
	float: none
}
.signbox .doubleinput label {
	width:113px;
	color: #fff;
	font-size: 11px;
	display: inline-block;
	float: left;
	position: relative;
	text-transform:;
}
.signbox span.okNet {
	display: inline-block;
	padding: 0;
	margin: 5px 0 0 2px!important;
	width: 15px;
	height: 15px
}
.signbox .email span.okNet {
	margin: 0 0 -2px 2px!important
}
.signbox .doubleinput input {
	width:102px;
	border: 0;
	float: left;
	color: #293d44;
	font-size: 12px;
	padding-left: 5px;
	height: 22px;
	line-height: 22px;
	border-radius:2px;
}
.signbox .sexbirthday {
	margin: 10px 0 10px 0
}
.signbox .sexbirthday .sex {
	float: left;
	margin-right: 0;
	margin-top: 4px
}
.signbox .sexbirthday .sex input {
	width: 56px;
	height: 64px;
	border: 0;
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left
}
.signbox .sexbirthday input.male {
	background: url("../images/landingsprite.png") -63px -473px no-repeat;
}
.signbox .sexbirthday input.male.selected {
	background: #2a627e url("../images/landingsprite.png") -6px -473px no-repeat
}
.signbox .sexbirthday input.male:hover {
	background: #2a627e url("../images/landingsprite.png") -6px -473px no-repeat
}
.signbox .sexbirthday input.female {
	background: url("../images/landingsprite.png") -63px -532px no-repeat
}
.signbox .sexbirthday input.female.selected {
	background: #2a627e url("../images/landingsprite.png") -6px -532px no-repeat
}
.signbox .sexbirthday input.female:hover {
	background: #2a627e url("../images/landingsprite.png") -6px -532px no-repeat
}
.signbox .sexbirthday label {
	float: left;
	display: block;
	width:113px;
	color: #fff;
	font-size: 11px;
	position: relative;
	padding-bottom: 5px;
	text-transform:;
}
.signbox .birthday {
	width:110px;
	float: right;
	overflow: hidden;
	margin-left:5px;
	margin-top: 4px
	 
	
}
.signbox .birthday input {
	background: 0;
	color: #c7dae3!important;
	font-size: 13px;
	margin-top: 2px;
	width: 60px;
	height: 25px;
	padding: 0;
	text-align: center;
	border: 0
}
.birthday div {
	text-align: center
}
.birthday .day {
	background: #2a627e;
	height: 30px;
	float: left;
	-webkit-border-radius: 10px 0 0 0;
	-moz-border-radius: 10px 0 0 0;
	border-radius: 10px 0 0 0
}
.birthday div.hover {
	background: #fff!important
}
.birthday .hover input {
	color: #878787!important
}
.birthday .mont {
	background: #0f7dc8;
	height: 30px;
	border-left: 2px solid #c7e1ed;
	float: left;
	-webkit-border-radius: 0 10px 0 0;
	-moz-border-radius: 0 10px 0 0;
	border-radius: 0 10px 0 0
}
.birthday .year {
	background: #407f9f;
	width:107px;
	height: 30px;
	border-top: 2px solid #c7e1ed;
	float: left;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px
}
.birthday .shortField {
	width:53px
}
.birthday .shortField input {
	width: 42px
}
.birthday .longField {
	width:52px
}
.birthday .longField input {
	width:49px
}
.signbox .email {
	margin: 0px 0 0 0;
}
.left-signbox{ width:70px; height:auto; float:left !important; font-size:11px; color:#555; line-height:15px;}
.right-signbox{ width:auto; height:auto; float:right !important;}


.signbox .label {
	color: #fff;
	font-size: 11px;
	display: block;/*position: relative*/
	text-transform:;
}
.signbox .email div {
	/*background: #fff;*/
	width: ;
	margin-top: 3px
}
.signbox .email input {
	width: 162px;
	border: 0;
	color: #293d44; 
	border:1px solid #a9a9a9;
	font-size: 12px;
	padding-left: 5px;
	border-radius:3px;
	height: 22px;
}
.c-select {
	background: #fff;
	width: 169px;
	height: 25px;
	margin-top: 3px;
	padding:2px 1px 2px 1px; 
	border-radius:3px;
	line-height: 26px
}
.signbox .country div.countryselect span {
	width: 30px;
	height: 25px;
	border-left: 1px solid #666;
	display: inline-block;
	float: right;
}
.signup {
	background: #203f5f;
	padding: 2px 0px 2px 0px;
	width: 100px;
	position: relative;
	text-align: center;
	left:62px;
	bottom: -6px;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	-webkit-box-shadow: #333 0 -2px 3px;
	-moz-box-shadow: #333 0 -2px 3px;
	box-shadow: #333 0 -2px 3px
}
.signup a {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	font-size: 18px;
	text-align: center
}
.signup a:hover {
	color: #fe5e00 !important
}
.signup span.leftbotcorner {
	position: absolute;
	left: -6px;
	bottom: 0;
	display: inline-block;
	width: 6px;
	height: 7px;
	background: url("../images/landingsprite.png") -145px -430px no-repeat
}
.signup span.rightbotcorner {
	position: absolute;
	right: -6px;
	bottom: 0;
	display: inline-block;
	width: 6px;
	height: 7px;
	background: url("../images/landingsprite.png") -152px -430px no-repeat
}
.terms {
	text-align: center;
	position: absolute;
	left: 0;
	bottom: -35px;
	color: #4b717e;
	width: 300px;
	font-size: 13px
}
.terms a {
	color: #293d44
}
.tour2 {
	display: inline-block;
	font-size: 41px;
	color: #b7b7b7!important;
	font-weight: bold;
	margin: 46px 0 0 30px;
	position: relative;
	float: left
}
.tour2 span {
	display: inline-block
}
.tour2 span.movie {
	width: 65px;
	height: 55px;
	padding: 0;
	float: right;
	background: url("images/landingsprite.png") 0 -420px no-repeat
}
.tour2:hover span.movie {
	background-position: -68px -421px
}
.tour2 img {
	float: right;
	position: relative;
	top: -18px
}
.tour {
	display: block;
	font-size: 41px;
	color: #b7b7b7!important;
	font-weight: bold;
	margin: 46px 0 0 30px;
	position: relative;
	float: left
}
.tour span {
	display: inline-block
}
.tour span.movie {
	width: 65px;
	height: 55px;
	padding: 0;
	float: right;
	background: url("images/landingsprite.png") 0 -420px no-repeat
}
.tour:hover span.movie {
	background-position: -68px -421px
}
.tour img {
	float: right;
	position: relative;
	top: -18px
}
#shortTour {
	padding: 5px 10px 0 0
}
.clear50 {
	clear: both;
	height: 60px;
	width: 100%
}
.userspic .iframeContainer {
	margin-top: -7px
}
.userspic img {
	margin: 1px 0 1px 1px;
	width: 55px;
	height: 55px;
	border: 0
}
.userspic a {
	width: 62px;
	display: inline-block
}
.whytitle {
	text-align: center;
	color: #828282;
	font-size: 48px;
	font-weight: bold;
	padding-bottom: 40px;
	margin: 40px 0
}
.planeRelativeContainer {
	position: relative
}
.planeRelativeContainer .plane {
	position: absolute;
	border: 0 solid #00f;
	width: 289px;
	height: 816px;
	right: 0;
	top: 0;
	overflow: visible
}
.useboxes {
	width: 700px;
	overflow: hidden;
	margin-bottom: 50px
}
.useboxes .dottedbox {
	float: left;
	margin-right: 20px
}
.useboxes .dottedbox img {
	width: 335px;
	height: 201px
}
.useboxes p {
	color: #fff;
	font-size: 16px
}
.useboxes h3, .useboxes h2 {
	color: #515151;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 5px
}
.useboxes a.more {
	background: #4198c3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #b3d6e7;
	font-size: 12px;
	padding: 6px 10px;
	margin: 10px 0;
	display: inline-block;
	float: left
}
.useboxes a.more:hover {
	background: #3787af
}
.pageup {
	display: inline-block;
	margin: 10px 10px;
	width: 30px;
	height: 28px;
	background: url("images/landingsprite.png") -52px -607px no-repeat
}
.pageup:hover {
	background-position: -13px -607px
}
.fakeSelect.country.newbginput.landingPageCountrySelect {
	width: 100%;
	padding: 7px 0 1px 6px;
	margin-top: 3px;
	background-image: none!important
}
.movie:hover .vidTooltip {
	display: block!important
}
.bottomsugnup span {
	color: #4b4b4b;
	font-size: 21px;
	font-weight: bold;
	display: inline-block
}
.bottomsugnup a {
	background: #4198c3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 12px 10px 8px 10px;
	position: relative;
	margin-left: 20px;
	display: inline-block;
	color: #34697f;
	font-weight: bold;
	font-size: 26px;
	text-align: center
}
.bottomsugnup a:hover {
	color: #fff!important
}
.sprite-landingpage1 {
	background-position: 0 0;
	width: 335px;
	height: 201px
}
.sprite-landingpage2 {
	background-position: 0 -251px;
	width: 334px;
	height: 201px
}
.sprite-landingpage3 {
	background-position: 0 -502px;
	width: 335px;
	height: 201px
}
.sprite-landingpage4 {
	background-position: 0 -753px;
	width: 334px;
	height: 201px
}
.sprite-landingpage5 {
	background-position: 0 -1004px;
	width: 335px;
	height: 78px
}
#videoPopup {
	width: 570px;
	border: 2px solid #666;
	background-color: #fff;
	margin: 20px auto;
	left: 50%;
	display: none
}
#videoPopup .movieContainer {
	width: 550px;
	height: 400px;
	margin: 10px auto
}
#videoPopup .movieContainer iframe {
	margin-top: -34px
}
.shortregistration {
	width: 150px
}
.shortregistration select {
	width: 150px
}
.dottedbox.fbUsers {
	width: 988px
}
.mb50 {
	margin-bottom: 50px
}
.showPassLabel {
	text-transform: none !important;
	position: static !important;
}
.styleCheckboxA {
	background-image: url("images/small-box.png");
	width: 13px !important;
	height: 11px;
	margin: 0px !important;
	margin-right: 3px !important;
	/*margin-top: -2px !important;*/
	padding: 0;
	border: 0;
	float: left;
}
.news_ltr {
	width: 235px;
	height: auto;
	display: block;
	margin-bottom: 10px;
	padding: 5px;
	border: solid 1px #dedede;
	background: #fff;
}
.fb_likes {
	width: 247px;
	height: auto;
	display: block;
	margin-bottom: 10px;
}
.right_addwer {
	width: 247px;
	height: auto;
	display: block;
}
.wrapper_foot_menu {
	width: 100%;
	height: auto;
	display: block; 
	margin-bottom:05px;
	
}
.footer_menu {
	width: 952px;
	height: auto;
	margin: 0 auto;
	display: block;
	padding: 0 0 0 0;
	background:#d9e9f6;
	border-radius: 5px; 
	padding:0 8px 0 8px;
	border: 1px solid #a6c0d5;
}
.footer_box_menu {
	width: 214px;
	height: auto; 
	float: left;
	padding: 0 30px 0 0;
}
.footer_box_menu h4 {
font-size: 14px;
color: #203f5f;
font-weight: normal;
border-bottom: 1px dotted #abc6dd;
line-height: 30px;
margin-bottom: 5px;
}
.footer_box_menu ul {
	margin: 0;
	padding: 0;
}
.footer_box_menu ul li {
	list-style: none;
	background: url(../images/foot_icon2.png) left center no-repeat;
	padding-left: 8px;
	border-bottom: dotted 1px #abc6dd;
	padding: 0 0 0 0;
}
.footer_box_menu ul li a {
	font-size: 11px;
	color: #005399;
	text-decoration: none !important;
	line-height:25px;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	padding-left:10px;
}
.footer_box_menu ul li a:hover {
	/*text-decoration: underline;*/
	color:#2e77ed;
}

.wrapper_foot {
	width: 100%;
	height: auto;
	background:#203f5f;
	padding-bottom:10px;
	display: block;
}
.footer {
	width: 953px;
	height: auto;
	margin: 0 auto;
	display: block;
}
.footer_box {
	width: 143px;
	height: auto; 
	float: left;
	padding: 0 19px 0 0;
}
.footer_box ul {
	margin: 0;
	padding: 0;
}
.footer_box ul li {
	list-style: none;
	background: url(../images/foot_icon.png) left center no-repeat;
	padding-left: 8px;
	border-bottom: dotted 1px #585858;
	padding: 3px 0 3px 0;
}
.footer_box ul li a {
	font-size: 11px;
	color: #dad8d8;
	text-decoration: none !important;
	line-height:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	padding-left:10px;
}
.footer_box ul li a:hover {
	/*text-decoration: underline;*/
	color:#2e77ed;
}
.cuntry_inp {
	width: 193px;
	height: 31px;
	border: 1px solid #d0d0d0;
	color: #979797;
	float: right;
	margin-top: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.wrapper_foot_bot {
	width: 100%;
	height: 25px;
	background: #203f5f;
	border-top: 1px solid #585858;
}

.aText{ color:#004f84; text-decoration: none !important;}
.aText:hover{ color:#fff; text-decoration:underline !important;}



.Iconfootball
{
background:url(../images/left-icon.png) left top;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.Iconfootball:hover
{
background:url(../images/left-icon.png) no-repeat -22px top;
}

.IconCricket
{
background:url(../images/left-icon.png) left -20px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.IconCricket:hover
{
background:url(../images/left-icon.png) no-repeat -22px -20px;
}

.Iconhockey
{
background:url(../images/left-icon.png) no-repeat left -41px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.Iconhockey:hover
{
background:url(../images/left-icon.png) no-repeat -22px -41px;
}

.Iconwwe
{
background:url(../images/left-icon.png) no-repeat left -62px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.Iconwwe:hover
{
background:url(../images/left-icon.png) no-repeat -22px -62px;
}

.Icontennis
{
background:url(../images/left-icon.png) no-repeat left -84px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.Icontennis:hover
{
background:url(../images/left-icon.png) no-repeat -21px -84px;
}

.Iconf1
{
background:url(../images/left-icon.png) no-repeat left -105px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.Iconf1:hover
{
background:url(../images/left-icon.png) no-repeat -22px -105px;
}

.IconBasketball 
{
background:url(../images/left-icon.png) no-repeat left -126px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.IconBasketball:hover
{
background:url(../images/left-icon.png) no-repeat -22px -126px;
}

.IconBody
{
background:url(../images/left-icon.png) no-repeat left -147px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.IconBody:hover
{
background:url(../images/left-icon.png) no-repeat -22px -147px;
}

.IconBoxing
{
background:url(../images/left-icon.png) no-repeat left -168px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.IconBoxing:hover
{
background:url(../images/left-icon.png) no-repeat -22px -168px;
}


.IconRunning  
{
background:url(../images/left-icon.png) no-repeat left -189px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.IconRunning:hover
{
background:url(../images/left-icon.png) no-repeat -22px -189px
}

.IconBadminton
{
background:url(../images/left-icon.png) no-repeat left -211px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.IconBadminton:hover
{
background:url(../images/left-icon.png) no-repeat -22px -211px;
}

.athletics
{
background:url(../images/left-icon.png) no-repeat left -252px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.athletics:hover
{
background:url(../images/left-icon.png) no-repeat -22px -252px;
}


.IconMore
{
background:url(../images/left-icon.png) no-repeat left -232px;
width: 21px !important;
height: 20px !important;
float: left !important;
margin-right: 5px !important;
margin-top:-2px;}

.IconMore:hover
{
background:url(../images/left-icon.png) no-repeat -22px -232px;
}




/*------------------------------shain-up-profile-------------------------------------*/
.step1{ width:636px; height:auto; background:#eeeeee; display:block; padding:10px;}
.step1_lft{ width:358px; height:auto; float:left;}
.step1_rgt{ width:220px; height:auto; float:right; border-left:1px solid #dddddd; padding:0 10px;}
.step1_bold{ font-size:14px; color:#666; height:auto;}
.step1_text{ font-size:11px; color:#666; height:auto;}
.choose_div{ width:358px; height:auto; margin-top:10px;}

.img_preview{ width:200px; height:216px; margin:10px 0;}


.logo_left{ width:330px; height:auto; float:left; margin:5px 0;}
.logo_right{ width:710px; height:auto; float:right; margin-top:5px;}

.sin_pro_top{ width:auto; display:block; height:34px; padding:6px 0 0 0;}
.sin_pro_top_inp{ width:330px; height:27px; margin:0 5px 0 10px; float:left; padding:0 5px 0 5px;}
.sin_pro_top_search{ width:33px; height:20px; border:1px solid #1b5480; background:#0085c8; float:left; margin-right:5px; padding:5px 0 0 15px;} 
.sin_pro_top_search:hover{ border:1px solid #1b5480; background:#333;}
.sin_pro_top a{ font-size:12px; color:#fff; text-decoration:none; line-height:27px;}
.sin_pro_top a:hover{ color:#287abb;}
.sin_pro_top_message{ width:26px; height:18px; float:right; background:url(../images/sain_up_img.png) left top no-repeat; margin: 4px 25px 0 0;}
.sin_pro_top_notificatin{ width:17px; height:18px; float:right; background:url(../images/sain_up_img.png) -27px top no-repeat; margin: 4px 25px 0 0;}
.sin_pro_top_add{ width:21px; height:18px; float:right; background:url(../images/sain_up_img.png) -45px top no-repeat; margin: 4px 25px 0 0;}
.sin_pro_top_acaount{ width:23px; height:18px; float:right; background:url(../images/sain_up_img.png) -67px top no-repeat; margin: 4px 0px 0 0;}

.sin_pro_bot{ width:auto; display:block; height:28px; background:#333;}
.sin_pro_bot ul { margin:0; padding:0;}
.sin_pro_bot ul li { float:left; list-style:none; padding:0 10px 0 10px;}
.sin_pro_bot ul li a { font-size:12px; color:#fff; text-decoration:none; display:block; line-height:28px;}
.sin_pro_bot ul li a:hover { color:#287abb;}


.sin_pro_left{ width:688px; height:auto; float:left;}
.sin_pro_right{ width:332px; height:100px; float:right; background:#ccc;}
.sin_pro_left_row{ width:656px; height:auto; display:block; padding:10px; border:1px solid #edebeb; margin-bottom:10px; }
.sin_pro_left_img{ width:190px; height:198px; float:left; background:#000; border:solid 1px #0085c8;}
.sin_pro_left_text{ width:454px; height:200px; float:right; color:#666;}
.sin_pro_left_text_div{ display:block; margin-bottom:10px;}
.sin_pro_left_text_div h1{ display:block; font-size:17px; color:#000; font-weight:bold;}
.sin_pro_left_text_div b{ display:block; font-size:16px; color:#666; font-weight:normal;}
.sin_pro_left_text_div a{ display:block; font-size:13px; color:#666; float:left; text-decoration:none; margin-right:10px;}
.sin_pro_left_text_div a:hover{ color:#287abb;}

.complete_btn{ 
    width:164px; 
	text-align:center; 
	height:29px; float:left; 
	border:solid 1px #1b5480; 
	color:#fff !important; 
	background:#287aba; 
	font-size:11px; 
	line-height:29px;   
	font-weight:700;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}
.complete_btn:hover{ 
    border:solid 1px #a8a8a8; 
	background:#f3c301;
	
}

.edit_profile_btn{ 
    width:98px; 
	text-align:center; 
	height:29px; float:left; 
	border:solid 1px #a7a7a7; 
	color:#333 !important; 
	background:#e0e0e0; 
	font-size:11px; 
	line-height:29px;   
	font-weight:700;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}
.edit_profile_btn:hover{ 
    border:solid 1px #a7a7a7; 
	background:#0085c8; color:#fff !important;
	
}

.connections{ width:100px; height:31px; float:right;}
.connections a{ font-size:12px; color:#0085c8; font-weight:bold; margin-left:32px; height:10px;}
.connections p{ font-size:11px; color:#666; text-align:center;}

.pro_mail_id{ width:656px; height:35px; display:block; border-top:1px dashed #ccc; background:#f6f6f6; margin-top:13px;}
.pro_mail_id_left{ width:320px; height:34px; float:left; padding-left:10px;}
.pro_mail_id_left a{ font-size:10.5px; color:#666; text-decoration:none; line-height:34px;}
.pro_mail_id_left a:hover{ color:#0085c8;}

.pro_mail_id_right{ width:100px; height:22px; float:right; background:#eaeaea; border-bottom:1px #ccc solid; border-left:1px #ccc solid; border-right:1px #ccc solid; padding:10px 0 0 20px;}
.pro_mail_id_right_div{ height:11px; display:block; font-size:10.5px; color:#666; text-decoration:none; background:url(../images/contact-info-icon.png) left top no-repeat; padding-left:20px;}
.pro_mail_id_right_div:hover{ display:block; font-size:10.5px; color:#0085c8; background:url(../images/contact-info-icon.png) left -11px no-repeat;}


.tab-con{ width:656px; height:30px; display:block;}
.tab-con ul{ margin:0; padding:0;}
.tab-con ul li{ list-style:none; float:left;}
.tab-con ul li a
{          font-family:Arial;
           width:164px;
           font-size:13px; 
		   color:#fff; 
		   text-decoration:none; 
		   display:block;
		   font-weight:bold;
		   float:left; 
		   line-height:30px; text-align:center;
		   background:url(../images/step_img.png) left top no-repeat; 
}
.tab-con li a:hover, .tab-con li.selected a 
{          
		   background:url(../images/step_img.png) left -30px;
}


.details-box { width:656px; float:left; min-height:300px; padding:5px 0px 0px 0px;}
.tab_content1 img { width: !important; float:left;} 
.tab_content1 p { width:100% !important; float:left;} 
.tab_content1 table { width:100% !important; float:left;} 

.location-map { width:100%; float:left;}
.location-map img { width:100%; height:auto;}
.click-file { width:100%; float:left; text-align:center; font-size:12px; font-weight:bold; line-height:25px; margin:5px 0; color:#222; background:url(../images/zoom_in.png) scroll no-repeat 206px 6px;}

.floor-plans { width:175px; float:left; margin:10px 10px 5px 0; background:#f4f4f4; padding:0 10px;}
.floor-plans:hover { box-shadow:0 0 4px #CCC;}
.floor-plans img { width:100%; float:left; height:150px; margin-top:0px; margin-left:2px;}
.floor-plans span { width:100%; float:left; text-align:center; font-size:13px; font-weight:600; color:#EA4800; line-height:18px; margin:5px 0;}
.click-file1 { width:100%; float:left; text-align:center; font-size:12px; font-family:Arial, Helvetica, sans-serif; background:url(../images/zoom_in.png) scroll no-repeat 25px 5px; line-height:25px; margin:5px 0; color:#222;}

.persnal_in_left{ width:323px; height:auto; float:left; padding-right:5px; display:block;}
.persnal_in_left_lft{ width:121px; height:25px; float:left; font-size:13px; color:#666; font-weight:700; margin-bottom:5px;}
.persnal_in_left_rgt{ width:201px; height:25px; float:right; margin-bottom:5px; font-size:12px; color:#a6a6a6; font-weight:700; margin-bottom:5px;}
.persnal_in_left_inp{ width:193px; height:20px; border:1px solid #ccc; color:#666; padding:0 3px 0 3px}
.persnal_in_left_date{ width:40px; height:20px; border:1px solid #ccc; float:left; margin-right:3px; color:#666;}
.persnal_in_left_manth{ width:79px; height:20px; border:1px solid #ccc; float:left; margin-right:3px; color:#666;}
.persnal_in_left_year{ width:75px; height:20px; border:1px solid #ccc; float:left; color:#666;}
.persnal_in_left_relation{ width:199px; height:20px; border:1px solid #ccc; color:#666;}
.persnal_in_left_lft b{ font-size:14px;}
.persnal_in_left_rgt b{ font-size:14px;}

.contact_in_right{ width:323px; height:auto; float:right; padding-left:5px; display:block;}

.work_p{ width:656px; height:25px; font-size:13px; color:#666; font-weight:700;}
.work_text{ width:300px; height:25px; float:left; font-size:11px; color:#666; font-weight: normal; line-height:25px;}
.work_div{ width:500px; height:25px;}
.work_mess_div{ width:500px; height:70px;}
.work_inp{ width:498px; height:22px; border:1px solid #ccc;}
.work_mess{ width:650px; height:68px; border:1px solid #ccc;}
.btn_border{ width:auto; height:1px; display:block; border-bottom: 1px solid #edebeb; margin-top:10px;}
.btn_div{ width:656px; height:31px; margin-top:10px;}
.save_btn{ 
    width:60px;
	text-align:center; 
	height:29px; 
	float:right; 
	border:solid 1px #1b5480; 
	color:#fff !important; 
	background:#287aba; 
	font-size:11px; 
	line-height:29px;
	text-decoration:none;   
	font-weight:700;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}
.save_btn:hover{ 
    border:solid 1px #a8a8a8; 
	background:#f3c301;
	
}

.skip_btn{ 
    width:60px;
	margin-right:10px; 
	text-align:center; 
	height:29px; 
	float:right; 
	border:solid 1px #a7a7a7; 
	color:#333 !important; 
	background:#e0e0e0; 
	font-size:11px; 
	line-height:29px;
	text-decoration:none;   
	font-weight:700;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}
.skip_btn:hover{ 
    border:solid 1px #a7a7a7; 
	background:#0085c8; color:#fff !important;
	
}

.add_aducation{ width:654px; height:45px; text-decoration:none; display:block; background:#f8f8f8; font-size:14px; color:#0077b5; text-align:center; line-height:45px; font-weight:bold;  border:dashed 1px #e3e3e3; margin-bottom:8px;}
.add_aducation:hover{ background:#f2f2f2; text-decoration:underline;}
.aducation_div{ width:656px; height:auto;}
.aducation_div ul{ margin:0; padding:0; width:656px !important;}
.aducation_div ul li{ list-style:none;}

.summrry_inp{ width:650px; height:100px; border:1px solid #0077b5;}
.summrry_head{ width:auto; display:block; height:35px; line-height:32px; font-size:14px; color:#666; font-weight:700; margin:20px 0;}
.summrry_img{ width:40px !important; height:32px; float:left;}
.summrry_edit{ width:auto; height:17px; float:left; background:url(../images/pencil-edit.png) left top no-repeat; font-size:14px; color:#0077b5; font-weight:700; padding-left:23px; text-decoration:none; line-height:17px; margin-top:10px; display:block !important;}
.summrry_head_sub{ width:auto; float:left; height:auto; display:block; line-height:35px; font-size:14px; color:#666; font-weight:700; text-decoration:none; margin-right:15px;}

.connections_div{ width:656px; height:30px; background:#f8f8f8; margin-top:15px;}
.connections_div_left{ width:110px; height:30px; background:#333; font-size:13px; float:left; font-weight:bold; color:#fff; line-height:30px; text-align:center;}
.connections_div_right{ width:auto; height:30px; float:right; padding-right:5px;}
.connections_div_right a{ font-size:13px; color:#0077b5; line-height:30px; text-decoration:none;}
.connections_div_right a:hover{ text-decoration:underline;}

.show_div{ width:656px; height:auto; display:block;}
.show_div h1{ font-weight:bold; font-size:14px; color:#000; line-height:30px;}
.show_div span{ color:#9f9f9f; font-size:12px; line-height:23px;}
.show_div b{ color:#666; font-size:11px; line-height:23px;}
.show_div p{ color:#666; font-size:12px; text-align:justify;}
.show_div_left{ float:left; width:200px; height:auto; font-size:13px; float:left; font-weight:bold; color:#666; line-height:30px;}
.show_div_right{ float:left; width:200px; height:auto;}


/*------------------------------shain-up-profile end---------------------------------*/

/*------------------------------pop---------------------------------*/
#popup_box { 
    display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:auto;  
    width:auto;  
    background:#FFFFFF;  
    left: 300px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
    
    /* additional features, can be omitted */
    border:2px solid #ccc;      
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    
}
#container {
    background: #d2d2d2; /*Sample*/
    width:100%;
    height:100%;
}
.close_btn{ background:url(../images/fancybox_sprite.png) -3px -3px; width:44px; height:32px;  
cursor: pointer;  
text-decoration:none;  
} 
/* This is for the positioning of the Close Link */
#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;      
}
/*------------------------------pop end---------------------------------*/

/*------------------------------latest-news---------------------------------*/
.new-letter{ width:968px; height:25px; background:#d9e9f6; margin-bottom:10px; border:1px solid #a6c0d5;border-radius: 5px;}
.new-letter-lft{width:123px; height:auto; float:left; line-height:25px; padding:0 0 0 5px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
font-weight: bold;
font-variant: normal;
color: #555;
text-decoration: none;}
.new-letter-rgt{width:834px; height:auto; float:right;
font-family: Verdana, Geneva, sans-serif; line-height:25px; padding:0 5px 0 0px;
font-size: 12px;
font-weight: normal;
font-variant: normal;
color: #666;
text-decoration: none;}
/*------------------------------latest-news end---------------------------------*/



.iner-page-left{ float:left; width:610px; height:auto; }
.iner-page-left td{ padding:5px; font-size:12px !important;}
.iner-page-right{ float:right; width:240px; height:auto; }

.apply-form{ width:auto; height:auto; border-radius: 5px 5px 5px 5px; background:#ccc; padding:10px;}
.apply-form-div{ margin:0 14px 0 0; float:left;}
.apply-form-head{
	font-size: 13px;
    color: #333;
    line-height: 30px;
    font-weight: 700;
	}
	
.apply-form-inp{ height:24px; width:175px; border:solid 1px #999; border-radius: 5px 5px 5px 5px; padding:0 5px 0 5px;}
.apply-form-slet{ height:26px; width:183px; border:solid 1px #999; border-radius: 5px 5px 5px 5px;}
.apply-form-msg{ height:60px; width:580px; border:solid 1px #999; border-radius: 5px 5px 5px 5px;}

