.bbp-replies .bbp-reply-content, .bbp-reply-header td {
    text-align: left !important;
}

.bbp-topic-started-by, .bbp-topic-freshness-author {
	display: inline-block;
	margin: 10px 0 0 0;	
}

.bbp-topic-voice-count, .bbp-topic-reply-count, .bbp-forum-topic-count, .bbp-forum-reply-count {
	padding: 10px 0 !important;
	vertical-align: top;	
}

.bbp-reply-author {
	padding: 10px !important;
}

.bbp-topic-title, .bbp-forum-info {
	padding: 10px 0 10px 10px;	
}

.bbp-topic-freshness, .bbp-forum-freshness {
	padding: 10px 0;	
	vertical-align: top;
}

