/*-----------------------------------------------------------------------------------*/
/*	11.	Multi-purpose Loan Calculator Styles
/*-----------------------------------------------------------------------------------*/

#loancalculatordashboard {
    float: left;
    width: 524px;
    margin: 0 10px 20px 0;
}
#loancalculatorform {
    margin-bottom: 0 !important;
}
#loancalculatorinnerformwrapper {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DDDDDD;
    width: 519px;
}
#loancalculatorinnerform {
    border-bottom: 1px solid #DDDDDD;
    padding: 30px 20px 10px;
}
.lamount label, .lemi label, .lfees label, .lint label, .lterm label, .escheme label {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 10px 0 0;
    text-align: right;
    width: 200px;
}
.lint span, .lamount span, .lemi span, .lfees span {
    background: none repeat scroll 0 0 #EDEDED;
    border-bottom: 1px solid #DBDAD7;
    border-left: 0 none !important;
    border-right: 1px solid #DBDAD7;
    border-top: 1px solid #DBDAD7;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 35px;
}
#loancalculatorinnerform div {
    margin-bottom: 10px;
}
#loancalculatorform div.sep {
    padding-top: 25px;
}
#loancalculatorform input[type="text"] {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DBDAD7;
    box-shadow: 1px 1px 4px #F4F4F4 inset;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 10px;
}
#loancalculatorform input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
#loanamount, #loanemi, #loanfees {
    margin: 0 0 0 15px !important;
    width: 80px !important;
}
#loaninterest, #loanterm {
    margin: 0 0 0 15px !important;
    width: 45px !important;
}
#loanamountslider, #loaninterestslider, #loantermslider, #loanemislider, #loanfeesslider {
    margin-bottom: 0 !important;
}
.lterm {
    float: left;
    width: 295px;
}
#tenurechoice {
    float: left;
    height: 36px;
    margin: -5px 0 0 5px;
    width: 100px;
}
#loanyears, #loanmonths {
    border: 0 none;
    margin: 0;
    padding: 0;
    height: 14px;
    width: 14px;
}
#loanyearslabel, #loanmonthslabel {
    font-size: 13px !important;
    letter-spacing: 0;
    margin: 0;
    padding: 0 5px;
}
#lyrs, #lmths {
    height: 18px;
    margin: 0 !important;
}
.escheme {
    float: left;
    width: 200px;
}
#emischemes {
    float: left;
    height: 36px;
    margin: 0 0 0 25px !important;
    width: 247px;
}
#emiadvance, #emiarrears {
    border: 0 none;
    margin: 0;
    padding: 0;
    height: 14px;
    width: 14px;
}
#emiadvancelabel {
    font-size: 14px !important;
    letter-spacing: 0;
    margin: 0;
    padding: 0 10px 0 5px;
}
#emiarrearslabel {
    font-size: 14px !important;
    letter-spacing: 0;
    margin: 0;
    padding: 0 0 0 5px;
}
#eadvance, #earrears {
    float: left;
    margin: 0 !important;
}
#loancalculatorform .helpbutton {
    float: right;
    padding-top: 30px;
}
.cleardiv {
    height: 0;
    clear: both; 
    margin: 0 !important; 
    padding: 0 !important; 
    overflow: hidden; 
}
#loancalc-message {
    width: 519px;
    background: #fff7d6;
    color: #956433;
    margin: 0 auto;
    border-bottom: 1px solid #DBDAD7; 
}
#loancalc-message p {
    padding: 10px;
    margin: 0;
    font-weight: bold;
}
#loancalc-message span {
    font-weight: normal;
}
#loansummary {
    background: none repeat scroll 0 0 #FCFCFC;
    border-right: 1px solid #DBDAD7;
    clear: both;
    float: left;
    height: 332px;
    margin: 0;
    width: 204px;
}
#loansummary-emi, #loansummary-totalinterest, #loansummary-loanamount, #loansummary-interestrate, #loansummary-tenure, #loansummary-apr {
    background: none repeat scroll 0 0 #FCFCFC;
    margin: 0;
    padding: 10px;
    text-align: center;
    height: 57px;
    border-bottom: 1px dotted #DBDAD7;
    border-top: 0 none !important;
}
#loansummary-emi p, #loansummary-loanamount p, #loansummary-interestrate p, #loansummary-tenure p {
    font-size: 24px !important;
}
#loansummary-totalamount {
    background: none repeat scroll 0 0 #FCFCFC;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    height: 79px;
}
#loansummary h4 {
    color: #888888;
}
#loansummary p {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
}
#loansummary span {
    padding: 0 5px;
}
#loansummary-piechart {
    background: none repeat scroll 0 0 #FCFCFC;
    float: left;
    height: 331px;
    margin: 0;
    position: relative;
    text-align: center;
    width: 314px;
}
#loanpaymenttable {
    background: none repeat scroll 0 0 #FCFCFC;
    clear: both;
    margin: 0 0 20px;
    text-align: center;
}
#loanpaymenttable table {
    width: 100%;
}
#loanpaymenttable table th {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #DBDAD7;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    text-align: center;
}
#principalheader {
    background: none repeat scroll 0 0 #88A825 !important;
    color: #FFFFFF;
}
#interestheader {
    background: none repeat scroll 0 0 #ED8C2B !important;
    color: #FFFFFF;
}
#balanceheader {
   background: none repeat scroll 0 0 #B8204C !important;
   color: #FFFFFF;
}
#loanpaymenttable table td {
    border: 1px solid #DBDAD7;
    text-align: center;
}
.toggle {
    background: url("../images/toggle-closed.png") no-repeat scroll 10% 50% transparent;
    cursor: pointer;
}
.toggle-open {
    background: url("../images/toggle-open.png") no-repeat scroll 10% 50% transparent;
}
.toggle-hidden {
    display: none;
    visibility: hidden;
}
.toggle-visible {
    display: block;
    visibility: visible;
    margin-bottom: 0 !important;
}
td.paymentyear {
    text-align: center !important;
    font-weight: bold !important;
    width: 70px !important;
}
td.currency {
    border-left: 0 none !important;
    text-align: right !important;
    width: 150px !important;
}
td.monthyearwrapper {
    margin: 0;
    padding: 0;
}
td.paidtodateyear, td.paidtodatemonthyear {
    border-left: 0 none !important;
    text-align: right !important;
}
#monthlypaymentcontainer table {
    margin: 0;
    padding: 0;
}
#monthlypaymentcontainer td {
    background: none repeat scroll 0 0 #EFEFEF;
}
td.paymentmonthyear {
    width: 69px !important;
}
ul.loancalculator-nav {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    float: none;
    list-style: none outside none !important;
    margin: 0 !important;
    padding: 0;
}
ul.loancalculator-nav li {
    float: left;
    list-style: none outside none !important;
    margin: 0 -1px -1px 0 !important;
    position: relative;
    z-index: 10;
}
ul.loancalculator-nav li a {
    border: 1px solid #DDDDDD!important;
    border-bottom: none!important;
    display: block;
    overflow: hidden;
    padding: 77px 0 0;
    background: #EFEFEF;
    margin: 0!important;
    text-decoration: none;
    color: #444444!important;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.3;
    height: 40px;
    width: 129px;
    text-align: center;
}
ul.loancalculator-nav li a:hover {
    background: none repeat scroll 0 0 #FCFCFC !important;
    margin: 0 !important;
}
ul.loancalculator-nav li.active a {
    background: none repeat scroll 0 0 #FCFCFC;
    height: 41px;
}
#emi-calc a {
    background: #EFEFEF url('../images/loancalculator.png') 42px 10px no-repeat !important;
}
#loan-amount-calc a {
    background: #EFEFEF url('../images/loancalculator.png') -64px 10px no-repeat !important;
}
#loan-tenure-calc a {
    background: #EFEFEF url('../images/loancalculator.png') -162px 10px no-repeat !important;
}
#interest-rate-calc a {
    background: #EFEFEF url('../images/loancalculator.png') -265px 10px no-repeat !important;
}
#emi-calc a:hover {
    background: #FCFCFC url('../images/loancalculator.png') 42px 10px no-repeat !important;
}
#loan-amount-calc a:hover {
    background: #FCFCFC url('../images/loancalculator.png') -64px 10px no-repeat !important;
}
#loan-tenure-calc a:hover {
    background: #FCFCFC url('../images/loancalculator.png') -162px 10px no-repeat !important;
}
#interest-rate-calc a:hover {
    background: #FCFCFC url('../images/loancalculator.png') -265px 10px no-repeat !important;
}
li#emi-calc.active a {
    background: #FCFCFC url('../images/loancalculator.png') 42px 10px no-repeat !important;
}
li#loan-amount-calc.active a {
    background: #FCFCFC url('../images/loancalculator.png') -64px 10px no-repeat !important;
}
li#loan-tenure-calc.active a {
    background: #FCFCFC url('../images/loancalculator.png') -162px 10px no-repeat !important;
}
li#interest-rate-calc.active a {
    background: #FCFCFC url('../images/loancalculator.png') -265px 10px no-repeat !important;
}
.steps {
    border-color: transparent;
    border-style: none solid;
    border-width: 0 1px;
    margin: 0 0 35px !important;
    position: relative;
    width: 480px;
}
.tick {
    color: #DDDDDD;
    font-size: 11px;
    height: 11px;
    left: 0;
    line-height: 11px;
    margin-left: -24px;
    position: absolute;
    text-align: center;
    width: 48px;
}
.marker {
    border: 1px solid transparent;
    color: #333333;
    font-size: 9px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
#loanpaymentscheduleheader {
    background: none repeat scroll 0 0 #EDEDED;
    border-color: #DBDAD7;
    border-style: solid none;
    border-width: 1px 0;
    margin-bottom: 20px;
    padding: 5px 0;
    text-align: center;
    width: 870px;
}
#loanpaymentscheduleheader label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
#loanpaymentscheduleheader input[type="text"] {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DBDAD7;
    box-shadow: 1px 1px 4px #F4F4F4 inset;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 10px;
}
#loanpaymentscheduleheader input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
#startmonthyear {
    width: 120px;
}
#loanpaymentbarchart {
    clear: both;
    margin-bottom: 20px;
}
#emiadvancearrears { 
    float: left;
    width: 266px; 
    height: 45px; 
    background: #666666; 
    position: relative; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px; 
    margin: 3px 0 20px 0;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
} 
#emiadvancearrears:before {
    content:""; 
    position: absolute; 
    right: 100%; 
    top: 10px; 
    width: 0; 
    height: 0; 
    border-right: 8px solid #666666; 
    border-bottom: 8px solid transparent; 
} 
#emiadvancearrears a {
    color: #FFF;
    background: #666666; 
    border-bottom: 0 none;
}
#emiadvancearrears a:hover {
    border-bottom: 1px dotted #FFF;
}
.featuredposts {
    float: left;
    width: 314px;
    height: 106px;
    margin: 0 0 9px;
    border: 1px solid #DDDDDD;
    padding: 10px;
}
.fpcaption {
    display: block;
    font-weight: bold;
    text-align: left;
    margin: 0 0 5px 0 !important;
    border-bottom: 3px double #EBEBEB;
}
.featuredposts ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
.featuredposts li {
    list-style: none;
    margin-bottom: 10px;
}
.featuredposts a {
    border-bottom: 0 none !important;
}
.socialshare {
    list-style: none;
    float: right;
    display: inline;
    margin: 0;
    height: 90px;
    padding: 0;
}
.socialshare li {
    display: inline;
    float: right;
    margin-left: 20px;
}
.page-template-template-loancalculator-php #content-wrap {
    width: 980px;
}
.page-template-template-loancalculator-php #content-top {
    background: url("../../images/content_top_full.png") no-repeat scroll 0 0 transparent;
    width: 980px;
}
.page-template-template-loancalculator-php #content-btm {
    background: url("../../images/content_bottom_full.png") no-repeat scroll 0 0 transparent;
    width: 980px;
}
.page-template-template-loancalculator-php #primary {
    background: url("../../images/primary_bg_full.png") repeat-y scroll 0 0 transparent;
    width: 870px;
}